/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/assets
!/assets/images/.keep
!/assets/music/.keep
!/assets/sounds/.keep

.env

# rspec failure tracking
.rspec_status

.gitignore